p {
  color: blue;  
}

.kai {
  width: auto;
  white-space: pre-wrap;
}

.pad {
  width: auto;
  padding: 1px 17px 2px;
  font: 400 30px system-ui;
}
.pad2 {
  padding: 1px 17px 2px;
  font: 400 20px system-ui;
}
.pad3 {
  background: yellow;
  padding: 1px 17px 2px;
  font: 400 15px system-ui;
}
.inputs {
  display: inline;
  padding: 5px;
}
.gr {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
